@import "tailwindcss";

.cstm-border {
  position: relative;
  margin: auto;
  border: 24px solid;
  border-image: url(https://skullctf.com/images/skull-border.svg);
  border-image-slice: 32;
  border-image-repeat: round;
}

:root {
  background: linear-gradient(90deg, #0a0000, #673608, #0a0000);
  margin: 0;
  padding: 0;
}
