@import "tailwindcss";

.cstm-border {
  position: relative;
  margin: auto;
  border: 24px solid;
  border-image: url(https://skullctf.com/images/skull-border.svg);
  border-image-slice: 32;
  border-image-repeat: round;
}

:root {
  background: linear-gradient(
    90deg,
    #000000,
    #0a0000,
    #442208,
    #553311,
    #442208,
    #0a0000,
    #000000
  );
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
